-- Insert sample medical posts for the social feed
-- First, let's check if we have any healthcare providers
SELECT id, username, first_name, last_name FROM healthcare_provider LIMIT 5;

-- Insert sample medical posts for the social feed
-- Note: Replace provider_id with actual provider IDs from your database

-- If you have different provider IDs, you can run this query to see available providers:
-- SELECT id, username, first_name, last_name FROM healthcare_provider WHERE role = 'HEALTHPROVIDER';